#contenedorPane{
    -fx-background-image: url("../image/1280x800.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.menu-left {
    -fx-background-color: #2f4f4f;
    -fx-padding: 20px;
    -fx-pref-width: 200px;
    -fx-border-radius: 10px;
}

.menu-button {
    -fx-background-color: #3b525b;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-pref-width: 225px;
    -fx-padding: 20px;
    -fx-margin: 5px;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 0);
}

.menu-button:hover {
    -fx-background-color: #4c626b;
}

.text-titulo {
    -fx-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.menu-left > .button {
    -fx-margin-bottom: 10px;
}


/* #region table */
.table-row-cell {
    -fx-pref-height: 40px;
}

.table-cell {
    -fx-font-size: 16px;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header {
    -fx-background-color: #3fa86e;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
}

.table-view {
    -fx-border-color: #2f4f4f;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #6b8e23, #556b2f); /* Tonos verdes de naturaleza */
    -fx-text-fill: white; /* Texto blanco para contraste */
    -fx-font-size: 16px; /* Tamaño de texto */
    -fx-font-weight: bold; /* Negrita para más impacto */
    -fx-border-radius: 5px; /* Bordes redondeados para un toque moderno */
    -fx-padding: 10 20; /* Espaciado interno */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.5, 2, 2); /* Sombra para profundidad */
    -fx-border-color: #3e4e28; /* Borde marrón similar a la madera */
    -fx-border-width: 2px; /* Ancho de borde para un efecto de robustez */
    -fx-cursor: hand; /* Cursor de mano cuando se pasa sobre el botón */
    -fx-background-insets: 0, 1; /* El efecto de profundidad hace que el botón sea más atractivo */
    -fx-pref-width: 150px; /* Ancho preferido del botón */
    -fx-pref-height: 50px; /* Altura preferida del botón */
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #3e5a42, #2f4f23); /* Efecto hover con un color más oscuro */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0.5, 2, 2); /* Sombra más intensa al pasar el ratón */
}

.button:pressed {
    -fx-background-color: #4b5320; /* Color al hacer clic para simular una sensación de presionar algo firme */
    -fx-border-color: #3e4e28;
    -fx-effect: none;
}

/* #endregion table */

